#about{ hidden }
  %h3
    #{t :about_ffc_version}
    %span.cool== v#{FatFreeCRM::VERSION}
    == (#{ActiveRecord::Base.connection.adapter_name.downcase})
  %p
    #{t :about_thank_you}

  #{t :about_ffc_resources}:
  %ul{:style => "margin: 0px 0px 0px 15px"}
    %li== &raquo; #{link_to t(:about_home_page), "", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_project_page), "", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_features), "", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_twitter), "", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_user_group), "", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_dev_group), "", :"data-popup" => true}
  %br
